<!DOCTYPE html>
<html>

 <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <meta property="fb:app_id" content="509979635783509" /> 
  <meta property="og:type"   content="article" /> 
  <meta property="og:url"    content="http://bitponzi.org" /> 
  <meta property="og:title"  content="BitPonzi" /> 
  <meta property="og:description"  content="Make easy 110% return on Bitcoin with provably fair Bitcoin Ponzi Scheme" /> 
  <meta property="og:image"  content="http://www.fbnstatic.com/static/managed/img/fb2/news/bitcoin.jpg" /> 

<link rel="stylesheet" href="./magnific/dist/magnific-popup.css"> 
<link rel="stylesheet" href="style3.css"> 
<!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
<!-- Magnific Popup core JS file -->
<script src="magnific/dist/jquery.magnific-popup.js"></script> 
<!-- Add jQuery library -->
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

<!-- Add mousewheel plugin (this is optional) -->
<script type="text/javascript" src="/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>

<!-- Add fancyBox -->
<link rel="stylesheet" href="/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
<script type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>

<!-- Optionally add helpers - button, thumbnail and/or media -->
<link rel="stylesheet" href="/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
<script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
<script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

<link rel="stylesheet" href="/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
<script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

<link rel="stylesheet" href="css/bootstrap.css">

<!-- Optional theme -->
<!--
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
-->
<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


<script src="/socket.io/socket.io.js"></script>
<script>
activated = {{{activated}}};
user = {{{user}}};
//alert(user);

</script>
<script src="global.js"></script>

<script>


</script>


</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" id="brandname"> GenesisBlock </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!--
        <li class="active" style="margin-left: 30px"><a href="#">Link</a></li>
        -->
        <li><a  href="trading">Trading</a></li>
        <li><a href="fees">Fees</a></li>
        <li class="active"><a href="about">About</a></li>
        <li  ><a href="support">Support</a></li> 
        <li><a href="faq">FAQ</a></li>  
        
      </ul>

      <ul id="right_bar" class="nav navbar-nav navbar-right">
        <li><a href="register" id="register">Register</a></li>
        <li><a href="login" id="login">Login</a></li>

            <!--<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>

      
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
      

        </li>    -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div id="pushed_container">


<div class="center">
<div id="voting_header"> About Us </div>

<div id="about_explanation">
<h2>About GenesisBlock </h2>

GenesisBlock is a startup, that focuses on the exchanging of cryptocurrency options. Launched in June 2014, we aim to provide the best user experience matched with quick support times. We will be adding new coins over the next months based on popularity.

Our team is made up of talented developers and network engineers who know how to build a fast, efficient and secure system that takes advantage of the latest web technologies. 

<h2>Our Objectives </h2>

<ul>
<li>A secure & reliable trading environment.</li>
<li>A fast matching engine that executes trades within milliseconds.</li>
<li>The latest market data available to all users as fast as possible.</li>
<li>A highly scalable architecture that can handle spikes of activity.</li>
<li>An appealing & responsive user interface that is easy to use.</li>
<li>Fast support responses, typically within 24 hours.</li>
</ul>

<h2>Our Architecture:</h2>
<ul>
<li>Distributed wallets & Hot / Cold wallets</li>
<li>Tiered design from Day 1 to improve scalability</li>
</ul>

<h2>About GenesisBlock.io:</h2>
All contracts are quoted in Bitcoins and some of the contracts are quoted in another currency (e.g. US Dollars in case of BTCUSD family of contracts). GenesisBlock provides a margin system with upper and lower limits within a trading session that are similar to any major options exchange.

<h2>Trading Sessions:</h2>
Trading runs all day. Clearings happen at 20:00 GMT and 08:00 GMT, clearing duration is flexible. Please note, the GenesisBlock exchange reserves the right to perform additional clearings to enhance trading range in rare occasions (mostly, when there is a strong, more than 10% move on the spot market).

<h2>Typical Use Cases:</h2>

<ul>
<li>
There are numerous reasons why stock exchanges and derivatives market exist. GenesisBlock provides traders a unique opportunity to utilize advanced financial instruments for a specific purpose. The list below shows some common usage scenarios.
</li>


<li>
Miners, merchants who accept payment in Bitcoins, or just anyone having Bitcoins who wants independence of BTC vs USD rate. This is the most typical use case for futures. Example: Miner has mined 1000 BTC and current exchange rate is $6 for 1 BTC (so marking to market that's $6000 value in Bitcoins). If rate decreases to $3 for 1 BTC by December, miner would effectively loose half of his money (because he needs to do certain payments in USD). To fix this problem the miner sells 600 december BTCUSD put options at 6.0000 price. Now, if rate goes down he would get as many Bitcoins as it's needed to buy $6000 on the spot market. If rate goes up, his account will still have exactly amount of Bitcoins needed to buy $6000 (which would be less in Bitcoins, but his Bitcoins increased value - so the miner loses nothing).
</li>

<li>
Traders who want to speculate on the Bitcoin to fiat money rate. Buying/selling options contracts is significantly cheaper than trading on the spot market. Also trader is allowed to take any position he likes - long or short, without the need to own the corresponding currency (e.g. USD to go long in BTC, and BTC to sell for going short in BTC). Accessible leverage varies according to the specific instrument, however a rough estimate for BTCUSD contract would be close to 1:3.
</li>

<li>
People who want to invest their Bitcoins into commodities or metals market. Traditionally, one would need to exchange his Bitcoins to US Dollars, open a broker account, transfer USD to that broker's account, buy gold or oil futures there, wait, sell it and get profit. GenesisBlock removes all unnecessary steps and allows you to buy commodities and oil futures directly and get profits directly in Bitcoins.
</li>

<li>
Traders who want to arbitrage and make the market. Trading options contracts provides perfect possibility to arbitrage between spot market and futures market. Everyone is able to provide liquidity on the market on equal conditions.
</li>

<li>
Algorithmic traders. GensisBlock’s list of options contracts is going to include futures on commodities, metals and other frequently traded assets. This allows traders to build complex strategies and test them in real time without the need to connect to a specific broker. All necessary instruments for hedging the risk are available.
</li>

<li>
High-frequency traders. Though HFT's impact on the market is being constantly debated, GenesisBlock won't prohibit high-frequency trading as long as it does not interfere usual human/bot trading.
</li>
</ul>

<h2>Contact Us </h2>

Our primary method of communication is email, we also have an online help desk.
<br>
Email Address: Support@GenesisBlock.io




</div>


</div>
</div>
<style type='text/css'>@import url('http://getbarometer.s3.amazonaws.com/assets/barometer/css/barometer.css');</style>
<script src='http://getbarometer.s3.amazonaws.com/assets/barometer/javascripts/barometer.js' type='text/javascript'></script>
<script type="text/javascript" charset="utf-8">
  BAROMETER.load('jxQ78cy2kKzKRThtwzTpq');
</script>
</body>
</html>
