@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css');
.container {
    margin-top: 10px;
}


body {

  /*background: url('../img/dogebackground.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */

}

#voting_header{
  font-weight: bold;
  font-size: 35px;
  margin-top: 70px;
  margin-bottom: 20px;
  font: 40px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, sans-serif;
}

#voting_explanation{
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
}

#about_explanation{
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-bottom: 30px;
}

#fees_explanation{

}

#brandname{
margin-left: 30px;

}

#login{
margin-right: 30px;
}

#pushed_container{
  margin-top: 50px;
}

.center{
  margin: 0 auto;
  text-align: center;

}

#balances{
  margin-top: 70px;
  margin-left: 30px;
  margin-right: 30px;

}


#outter_content{
  margin-top: 70px;
  margin-left: 30px;
  margin-right: 30px;

}

#top_area{
  margin-top: 50px;
  height: 295px;
  background-color: #185574;
}

.index_col_container{
  max-width:400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#middle_area{
  background-color: #4895BD;
  height: 245px;
}

.bottom_col{
  margin-top:15px;
  margin-bottom: 15px;
}

#index_top_header{
  color: white;
  font-size:50px;
}

#index_top_middle{
  margin-top:30px;
  margin-bottom: 40px;
  color: white;
}

.live_trades{
  max-width: 400px;
}

.index_icon{
  //height:50px;
  width: auto;
  margin-top:30px;
}

.index_col{
  text-align: center;
}

.desc{
  color: #222;
}


#register_title{
margin-top: 70px;
font-size: 40px;
font-style: bold;

}

#register_table{
width: 500px;
text-align: center;
margin-left: auto;
margin-right: auto;
margin-top: 30px;
}

.register_input{
  width: 280px !important;
  line-height: 10px !important;
}

#register_button{
  margin-top: 20px;
}

#tab_table{

text-align: center;
  border-spacing: 0;
  border-collapse: collapse;

}


#details{
margin-top: 10px; 
font-size: 18px;

}

.left_table{
  text-align: right !important;
  padding-right: 30px !important;
  width: 200px;

}

#terms_checkbox{
  
  margin-right: 5px; !important;

}

.tab_header{
  font-size: 20px;
  margin-top: 20px;
}

.tab_header_modified{
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tab_description{
  margin-top: 20px;
}

.bottom_tab_description{
  
}

#nav_tabs{


}

#tab_row{
  height: 60px;
  line-height: 60px;
}

.contract_row{
  height: 40px;
  line-height: 60px;
}

.contract_href{
  color: #333 !important;
  cursor: pointer;
  //text-decoration: underline;
}

.contract_info_href{
  //color: #333 !important;
  cursor: pointer;
  text-decoration: underline;
  margin-top: 15px;
}

.contract_page_href{
  //color: #333 !important;
  cursor: pointer;
  text-decoration: underline;
  margin-top: 15px;
}


.tab_td{
  height:50px !important;
  line-height: 50px !important;


}

.tab_td_order{
    height: 50px;
    vertical-align: middle !important
}

.contract_table{
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

#contract_header{
  margin-top: 70px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  max-width: 900px;
  font-size: 40px;
}

.td_contract{
  height: 35px;
  text-align: left;
  vertical-align: middle !important
}

.td_contract_left{
  height: 35px;
  text-align: left;
  vertical-align: middle !important;
  width: 150px;
}

.cancel_order{
  background: #888;
  display: inline-block;
  padding: 4px 8px;
  color: white;
  cursor: pointer;
}

.exercise_option{
  background: #888;
  display: inline-block;
  padding: 4px 8px;
  color: white;
  cursor: pointer;
}

#deposited_amount{
  font-weight: bold;
}

.box
{
box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox */
margin: 0 0 15px;
border:1px solid #efbd98;
background: #fdf6ea;
padding: 12px 15px;
}

.box_green
{
box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox */
margin: 0 0 15px;
border:1px solid #8ddf79;
background: #f0fbeb;
padding: 12px 15px;
}


#withdraw_available_balance{
  margin-top: 10px;
}

#error_message{
  margin-top: 10px;
  margin-bottom:10px;
  color: red;

}

#error_message_sell{
  margin-top: 10px;
  margin-bottom:10px;
  color: red;

}

#withdraw_success{
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
  font-weight: bold;

}

#withdraw_success_caption{
  margin: 0 auto;
  text-align: center;
  font-size: 22px;
  font-weight: bold;

}

.expander{
  background-position: -23px 25px;
  background-image: url(img/expand-sprite.gif);
  background-repeat: no-repeat;
  cursor: pointer;
}



.expander.clicked{
  background-position: -45px 25px;
  background-image: url(img/expand-sprite.gif);
  background-repeat: no-repeat;
  cursor: pointer;
}

.clickable_td {

}

.left_td{
  text-align: left;
}

.inner_td{
  padding-left: 5px
}

#inner_content{
  margin: 10px 10px;
}


#trade_pair_header{
  font-size: 35px;
  font-weight: bold;

}

#left_header{
  float: left;

}

#right_header{

  float: right;


}

.stat{
  border-right: 1px solid #ddd;
  display: inline-block;
  font-size: 15px;
  padding: 0px 20px;
  
}

.unbordered{
  border-right: none !important;
  padding-left: 20px;
  padding-right: 0px !important;
}

.item50{
  width: 50%;
  display: inline-block;
  font-size: 16px;
  padding-right: 25px;
  vertical-align: top;
  box-sizing:border-box;

}

#col1 {
  float: left;
  width: 50%;

}

#col2 {
  float: right;
    width: 50%;
}

#top_header{
  margin-top: 0px;
}

#buy_sell{
  //margin-top: 50px;
  box-sizing: border-box;
}


.success{
  border: 1px solid #8ddf79;
  background: #f0fbeb;
}

.fail{
  border: 1px solid #ef8c82;
  background: #FBEEEB;
}

.options{
  border: 1px solid #efbd98;
  background: #fdf6ea;
}

.box {
  margin: 0px 25px 25px 0px;
  padding: 12px 15px;
}

.exchange_balance{
  color: #008B5D;
  cursor: pointer;
  text-decoration: underline;
}

.label_style{
  display: inline-block !important;
  font-weight: bold;
  line-height: 34px !important;
  width: 170px;

}


.scroll_table{
  border: 1px solid #ddd;
  max-height: 400px;
  overflow-y: auto;
  margin-right: 25px;
  margin-bottom: 100px;
}

.table{
  //width: auto !important;
}

.top_href{
  z-index:100;
}

.table th {
background: #eee;
border-bottom: 1px solid #dadada;
color: #666;
font-size: 90%;
padding: 8px;
text-align: left;
text-transform: uppercase;
} 

#sell_table{


}

#nav_pills{
  float: left;
}

.tab_add{
  overflow-x: hidden;
}


/* custom inclusion of right, left and below tabs */

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}

#left_tabs{
  margin-top: 50px;
}

#tab_content{
  width: auto;
}

.tab-pane{

}

.offer_table{
  border-collapse: collapse;
    border-spacing: 0;
}

#options_table{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#contract_table{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.btn-custom {
  background-color: hsl(0, 0%, 16%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5b5b5b", endColorstr="#282828");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#5b5b5b), to(#282828));
  background-image: -moz-linear-gradient(top, #5b5b5b, #282828);
  background-image: -ms-linear-gradient(top, #5b5b5b, #282828);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5b5b5b), color-stop(100%, #282828));
  background-image: -webkit-linear-gradient(top, #5b5b5b, #282828);
  background-image: -o-linear-gradient(top, #5b5b5b, #282828);
  background-image: linear-gradient(#5b5b5b, #282828);
  border-color: #282828 #282828 hsl(0, 0%, 11%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}

#index_buttons{

}

/*
@media (max-width: 767px) {

  .stat{
  border-right: 1px solid #ddd;
  display: inline-block;
  font-size: 20px;
  
}
}
@media (min-width: 768px) {
  

  .stat{
  border-right: 1px solid #ddd;
  display: inline-block;
  font-size: 25px;
  
}

}
@media (min-width: 992px) and (max-width: 1199px) {

  
  .stat{
  border-right: 1px solid #ddd;
  display: inline-block;
  font-size: 32px;
  
}
}
@media (min-width: 1200px) {
  .stat{
  border-right: 1px solid #ddd;
  display: inline-block;
  font-size: 40px;
  
}

}
 */

